body {
    padding: 20px
}

.shopping-page {
    display: grid;
    grid-template-columns: 400px 400px 400px 400px 400px;
    column-gap: 50px;
    row-gap: 100px;
}

.item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 500px;
    border: 2px solid lightblue
}

.img-wrapper {
    img {
        object-fit: cover;
        height: 300px;
        width:390px;
    }
}